@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes waveAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wave {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 200vw;
  height: 200vw;
  margin-left: -100vw;
  margin-top: -196vw;
  border-radius: 40%;
}

.wave.one {
  animation: waveAnimation 10000ms infinite linear;
  opacity: 0.5;
  background: #00c6ff;
}

.wave.two {
  animation: waveAnimation 13500ms infinite linear;
  opacity: 0.3;
  background: #0146fd;
}

.wave.three {
  animation: waveAnimation 11000ms infinite linear;
  opacity: 0.5;
  background: #0146fd;
}
